#root{
    width: 1536px;
}
#header-part-1{
    background-color: rgb(0, 0, 0);
    height: 40px;
    width: 100%;
}
#header-1_id{
    width: 300px;
    margin: 5px;
    position: absolute;
    margin-left: 30cm;
}
.icon-1{
    color: darkgray;
}
.header-text-1{
    position: absolute;
    margin-left: 30px;
    margin-top: -25px;
    font-size: 18px;
}
.icon-2{
    position: absolute;
    margin-left: 11rem;
    color: darkgray;
}
.header-text-2{
    position: absolute;
    margin-left: 14rem;
    margin-top: -25px;
    font-size: 18px;
}
#header-part-2{
    width: 1520px;
    height: 80px;
    border: 2px solid black;
    margin: 6px;
}
#text-part{
    font-weight: 500;
    font-size: 20px;
    margin: 24px;
    margin-left: 10px;
    height: 20px;
}
#subtext{
    position: relative;
    margin-left: 90px;
    margin-top: -45px;
}
*{
    /* text-shadow: 0px 0px 1px; */
}
#search-bar{
    background-color: lightgrey;
    width: 315px;
    height: 42px;
    position: absolute;
    margin: 9px;
    margin-left: 44px;
    box-shadow: 0px 1px 6px #00000029;
    border-color: transparent;
}
.search-icon{
    color: gray;
    position: absolute;
    margin-left: 60px;
    margin-top: 20px;
}
#support-text{
    font-size: 18px;
    margin-left: 24px;
    position: absolute;
    margin-top: -22px;
}
#support-icon{
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 1px;
}
.banner-1{
    /* width: 1508px; */
    height: 440px;
    margin: auto;
}
#banner-image-1{
    background-image: url("https://images-static.nykaa.com/uploads/d6df2f70-aca7-40f3-a383-88e9f2dc6e49.jpg?tr=w-1200,cm-pad_resize");
    height: 414px;
    background-size: cover;
}