#root{
    width: 1517px;
    opacity: 1;
    border: black;
    border-style:solid;
    margin: auto;
    background-color: rgba(0, 0, 0);
}
#bg_image{
    /* background-image: url(./netflixBackgroundImage.jpg); */
    height: 672px;
    background-size: cover;
   background-image:linear-gradient(183deg,#9D0E0E00 -44%, black 113%),url(./netflixBackgroundImage.jpg);
   /* background-image:linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%),url(./netflixBackgroundImage.jpg) */
}
#logo{
    width: 186px;
    position: absolute;
    margin-top: 27px;
    margin-left: 35px 
    
}
.language-dropdown{
    background-image: linear-gradient(351deg, black 60%, transparent);
    background-color: #9D0E0E00;
    font-size: 22px;
    width: 148px;
    border-radius: 8px;
}
.signin{
    background-color: rgb(231 14 14) !important;
    color: white !important;
    margin-left: 28cm;
    position: absolute;
    margin-top: -45px;
    width: 116px;
    height: 42px;
}
#main-text{
    color: white;
    font-size: 53px;
    margin-top: 220px;
    text-shadow: 1px 0px 2px;
    font-weight: 700;
}
#sub-text-1{
    color: white;
    margin-left: 314px;
    font-size: 25px;
    padding-top: 15px;
}
#sub-text-2{
    color: white;
    font-size: 20px;
    margin-left: 161px;
    padding-top: 15px;
}
.email-1{
    font-size: 23px;
    width: 441px;
    margin-top: 15px;
    margin-left: 37px;
    padding-top: 7px;
    color: darkgrey;
}
.start-button{
    background-color: rgb(231 14 14) !important;
    color: white !important;
    width: 192px;
    height: 55px;
    margin-left: 490px;
    margin-top: -122px;
    font-size: 28px;
    text-align: left;
}
hr
{
    /* border: 5px solid rgb(63, 58, 58); */
    border: 5px solid darkgrey;
    /* margin-top: 99px;*/
    margin-top: 104px;
} 
#page{
    width: 1513px;
    height: 672px;
    
}
#page2-mainText{
    color: white;
    font-size: 50px;
    font-weight: 800;
    margin: 18px;
}
#page2-subText{
    color: white;
    font-size: 25px;
    font-weight: 400;
    margin: 18px;
}
.image-container{
    margin-left: 18cm;
    width: 600px;
    position: absolute;
    margin-top: -316px;
}
.text-container{
    margin-left: 16cm;
    position: absolute;
    margin-top: -245px;
    width: 600px 
}
#subimage{
    width: 325px;
    margin-left: 35px;
    border: 2px solid darkgray;
    height: 110px;
    margin-top: -99px;
    position: absolute;
    border-radius: 10px;
    background-color: rgba(0, 0, 0);
}
#image{
    background-image: url(./image-3.png);
    height: 85px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 12px;
}
#text-1{
    color: white;
    font-size: 20px;
    font-weight: 400;
}
#text-2{
    color: blue;
    font-size: 15px;
    font-weight: 400;
}
#download-icon{
    /* color: white;
    position: absolute; */
    margin-left: 221px;
    margin-top: -103px;
    
}
#download-gif{
    width: 50%;
    margin-left: 47px;
    margin-top: 28px;
}
.create-profile{
    width: 590px;
    margin-left: 706px;
    margin-top: -400px;
    position: absolute;
}
#questions{
    color: white;
    font-weight: 900;
    font-size: 60px;
}
.accordian-heading{
    background-color: rgba(0, 0, 0);
    color: white;
}
#accordian-textblock{
    background-color: darkgray;
    color: white;
}
#hyperlink-text{
      color: lightgray;
      font-weight: 100;
      font-size: 17px;
}
.link-block{
    margin-left: 143px;
    position: absolute;
    margin-top: -47px;
}
.link-block-2{
    margin-left: 396px;
    margin-top: -315px;
    position: absolute;
}
#video-1{
    margin-top: -59%;
    margin-left: 13%;
    
}
